{% extends 'base.html.twig' %}
{% block title %}Загрузка отчёта комиссионера{% endblock %}

{% block body %}
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">Загрузка WB отчёта комиссионера</h2>
        <div class="text-secondary mt-1">Файл будет сохранён в хранилище и добавлен в список.</div>
      </div>
      <div class="col-auto ms-auto">
        <a class="btn btn-outline-secondary" href="{{ path('wb_commissioner_reports_index') }}">
          <i class="ti ti-arrow-left me-1"></i>К списку
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-xl mt-3">
  <div class="card">
    <div class="card-body">
      {{ form_start(form) }}
      {{ form_row(form.file) }}
      <div class="row">
        <div class="col-md-6">
          {{ form_row(form.periodStart) }}
        </div>
        <div class="col-md-6">
          {{ form_row(form.periodEnd) }}
        </div>
      </div>
      <button class="btn btn-primary mt-3">Загрузить</button>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
