{% set current_route = app.request.attributes.get('_route') %}
{% set user_roles = [] %}
{% if app.user %}
    {% set user_roles = app.user.roles|default([]) %}
{% endif %}
<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home_index') }}">Финансы</a>
        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home_index') }}">
                        <span class="nav-link-title"> Главная </span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link {% if current_route == 'cash_transaction_index' %}active{% endif %}" href="{{ path('cash_transaction_index') }}">
                        <span class="nav-link-title">Транзакции (ДДС)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ current_route starts with 'document_' ? 'active' : '' }}" href="{{ path('document_index') }}">
                        <span class="nav-link-title">Документы (ОПиУ)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ current_route starts with 'report_account_balances' ? 'active' }}" href="{{ path('report_account_balances_index') }}">
                        <span class="nav-link-title">Остатки по счетам</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">

                        <span class="nav-link-title text-muted"> Отчеты </span>
                    </a>
                    <div class="dropdown-menu" data-bs-popper="static">
                        <a class="dropdown-item {{ current_route starts with 'report_cashflow' ? 'active' : '' }}" href="{{ path('report_cashflow_index') }}">
                            <span class="nav-link-title">Отчет ДДС</span>
                        </a>
                        <a class="dropdown-item {{ current_route starts with 'report_transactions_statement' ? 'active' : '' }}" href="{{ path('report_transactions_statement_index') }}">
                            <span class="nav-link-title">Выписка по транзакциям</span>
                        </a>
                        <a class="dropdown-item " href="{{ path('report_transactions_debug_index') }}">
                            <span class="nav-link-title">Отчет отладка</span>
                        </a>
                        <a class="dropdown-item " href="{{ path('report_debug_transactions_raw') }}">
                            <span class="nav-link-title">Отчёт “Сырые транзакции”</span>
                        </a>
                        <a class="dropdown-item " href="{{ path('report_debug_daily_facts') }}">
                            <span class="nav-link-title">Отчёт “Фактические дневные остатки”</span>
                        </a>
                        <a class="dropdown-item " href="#">
                            <span class="nav-link-title">Отчет ОПиУ</span>
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">

                        <span class="nav-link-title text-muted"> Справочники </span>
                    </a>
                    <div class="dropdown-menu" data-bs-popper="static">
                        <a class="dropdown-item {% if current_route == 'money_account_index' %}active{% endif %}" href="{{ path('money_account_index') }}">
                            <span class="nav-link-title">Счета / Кассы / Кошельки</span>
                        </a>
                        <a class="dropdown-item {% if current_route == 'counterparty_index' %}active{% endif %}" href="{{ path('counterparty_index') }}">
                        <span class="nav-link-title">Контрагенты</span>
                        </a>
                        <a class="dropdown-item {% if current_route == 'cashflow_category_index' %}active{% endif %}" href="{{ path('cashflow_category_index') }}">
                            <span class="nav-link-title">Статьи ДДС</span>
                        </a>
                        <a class="dropdown-item {{ current_route starts with 'pl_category_' ? 'active' : '' }}" href="{{ path('pl_category_index') }}">
                            <span class="nav-link-title">Статьи ОПиУ (P&amp;L)</span>
                        </a>
                        <a class="dropdown-item {{ current_route starts with 'project_direction_' ? 'active' : '' }}" href="{{ path('project_direction_index') }}">
                            <span class="nav-link-title">Направления</span>
                        </a>
                        <a class="dropdown-item {{ current_route starts with 'cash_transaction_auto_rule_' ? 'active' : '' }}" href="{{ path('cash_transaction_auto_rule_index') }}">
                            <span class="nav-link-title">Автоправила ДДС</span>
                        </a>
                    </div>
                </li>

                {#---- Ozon ---#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                        <span class="nav-link-title text-muted"> Ozon </span>
                    </a>
                    <div class="dropdown-menu" data-bs-popper="static">
                        <a class="dropdown-item {{ current_route starts with 'ozon_order' ? 'active' : '' }}" href="{{ path('ozon_orders') }}">
                            <span class="nav-link-title">Заказы</span>
                        </a>
                        <a class="dropdown-item {{ current_route starts with 'ozon_products' ? 'active' : '' }}" href="{{ path('ozon_products') }}">
                            <span class="nav-link-title">Товары</span>
                        </a>
                    </div>
                </li>
                {#---- Profile ---#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">


                        <span class="nav-link-title text-muted"> Настройки </span>
                    </a>
                    <div class="dropdown-menu" data-bs-popper="static">
                        <a class="dropdown-item" href="{{ path('company_index') }}"> Профиль компании </a>
                        <a class="dropdown-item {{ current_route starts with 'settings_report_api_key_' ? 'active' : '' }}" href="{{ path('settings_report_api_key_index') }}">API-ключ отчётов</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</aside>
