{% extends 'base.html.twig' %}
{% block title %}Редактирование категории P&L{% endblock %}

{% block body %}
<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-header"><h3 class="card-title">Редактирование категории</h3></div>
      <div class="card-body">
        {{ form_start(form) }}
          {{ form_row(form.name) }}
          {{ form_row(form.code) }}
          {{ form_row(form.parent) }}
          {{ form_row(form.type) }}
          {{ form_row(form.format) }}
          {{ form_row(form.weightInParent) }}
          {{ form_row(form.sortOrder) }}
          {{ form_row(form.isVisible) }}
          {{ form_row(form.formula) }}
          {{ form_row(form.calcOrder) }}
          <div class="mt-3">{{ form_row(form.save) }}</div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
