{% extends 'base.html.twig' %}
{% block title %}Редактирование статьи ДДС{% endblock %}
{% block body %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <h2 class="page-title">Редактирование {{ article.name }}</h2>
        </div>
    </div>
    <div class="container-xl mt-3">
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-8">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(form.parent) }}
                    </div>
                </div>
                {{ form_row(form.description) }}
                {{ form_row(form.status) }}
                {{ form_row(form.sort) }}
                {{ form_row(form.allowPlDocument) }}
                {{ form_row(form.plCategory) }}
                <div class="mt-3">
                    <h3 class="h5 mb-3">Метаданные для отчётов</h3>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.flowKind, { help: 'для отчёта Денежный поток' }) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.isSystem) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.systemCode, { help: 'для правил (возвраты/CapEx/переводы) и дашборда' }) }}
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
                <button class="btn btn-primary mt-2">Сохранить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
